<div id="<%= dom_id active %>">
  <p>
    <strong>Start:</strong>
    <%= active.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= active.end %>
  </p>

  <p>
    <strong>Number bots:</strong>
    <%= active.number_bots %>
  </p>

  <p>
    <strong>Guess claster:</strong>
    <%= active.guess_claster %>
  </p>

</div>
