<!DOCTYPE html>
<link rel="stylesheet" href="application.css">

<p style="color: green"><%= notice %></p>
<div style="font-family: 'Times New Roman',serif; font-size: 20px">
  <div class="tittle-box">
    <div class="container">
      <div class="section-title" style="color: white">
        <b>Вхідні дані</b>
        <div style="padding: 10px">
          <%= image_tag 'book_one_input_data_1.png', alt: 'Book one input data', width: 55, height: 50, class: 'icon' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="row justify-content-center">
      <div style="align-items: center; justify-content: center; display: flex; transform: scaleX(-1)" class="col-md-2">
        <%= image_tag 'bot_picture.png', alt: 'Book one input data', width: 150, height: 150 %>
      </div>
      <div class="col-md-8" style="margin-top: 10px; margin-bottom: 10px">
        <%= form_for :active, url: actives_path, html: { id: 'my-form' } do |form| %>
          <div class="card" style="background-color: #C8D0E9;">
            <div class="card-body">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right" for="active_start">Початок часового проміжку:</label>
                <div class="col-sm-9">
                  <%= form.number_field :start, in: 0..30, step: 1, class: "form-control", placeholder: "Введіть значення від 0 до 30", style: "background-color: #F7F8FA; font-family: 'Times New Roman',serif; font-size: 20px", required: true %>
                </div>
              </div>
              <div class="form-group row" style="margin-top: 10px;">
                <label class="col-sm-3 col-form-label text-right" for="active_end">Завершення часового проміжку:</label>
                <div class="col-sm-9">
                  <%= form.number_field :end, in: 0..30, step: 1, class: "form-control", placeholder: "Введіть значення від 0 до 30", style: "background-color: #F7F8FA;font-family: 'Times New Roman',serif; font-size: 20px", required: true %>
                </div>
              </div>
              <div class="form-group row" style="margin-top: 10px;">
                <label class="col-sm-3 col-form-label text-right" for="active_number_bots">Кількість ботів:</label>
                <div class="col-sm-9">
                  <%= form.select :number_bots, [5, 7, 9, 12, 15], { include_blank: "Виберіть один з наведених варіантів" }, class: "form-control", style: "background-color: #F7F8FA; font-family: 'Times New Roman',serif; font-size: 20px", required: true %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right" for="active_guess_claster">Очікуваний користувацький
                  рівень кластеризації:</label>
                <div class="col-sm-9" style="margin-top: 10px;">
                  <%= form.number_field :guess_claster, in: 0..100, step: 1, class: "form-control", placeholder: "Виберіть значення від 1 до 100", style: "background-color: #F7F8FA; padding: 10px; font-family: 'Times New Roman',serif; font-size: 20px", required: true %>
                </div>
              </div>
              <div class="input-group-append">
                <div class="form-group text-center" style="margin-top: 10px;">
                  <%= form.submit "Зберегти", class: "my-button green-button", style: "font-family: 'Times New Roman',serif; font-size: 20px", onclick: "validateForm(event)" %>
                  <button type="button" class="my-button clear-button" style="padding: 10px; margin-left: 10px; color: black; font-family: 'Times New Roman',serif; font-size: 20px" onclick="document.getElementById('active_start').value='';
                    document.getElementById('active_end').value='';
                    document.getElementById('active_number_bots').value='';
                    document.getElementById('active_guess_claster').value='';">Очистити
                  </button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div style="align-items: center; justify-content: center; display: flex;" class="col-md-2">
        <%= image_tag 'bot_picture.png', alt: 'Book one input data', width: 150, height: 150 %>
      </div>
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <h3><b>Помилка обробки вхідних даних!</b></h3>
      <p id="error-message"></p>
      <button id="close-btn"><b>Закрити</b></button>
    </div>
  </div>

  <script>
      function validateForm(event) {
          // prevent default form submission behavior
          event.preventDefault();

          // get form input values
          const start = document.querySelector('#active_start').value;
          const end = document.querySelector('#active_end').value;
          const number_bots = document.querySelector('#active_number_bots').value;
          const guess_claster = document.querySelector('#active_guess_claster').value;

          // validate input values
          if (start === "" || end === "" || number_bots === "" || guess_claster === "") {
              // show error message to user
              const modal = document.getElementById('modal');
              modal.style.display = 'block';
              const errorMessage = document.getElementById('error-message');
              errorMessage.innerHTML = 'Одне або декілька з полів введення порожні.<br>Переконайтеся, що всі поля заповнені і спробуйте ще раз.';
              const closeBtn = document.getElementById('close-btn');
              closeBtn.style.backgroundColor = '#FFAB147F';
              closeBtn.style.color = 'black';
              closeBtn.onclick = function () {
                  modal.style.display = 'none';
              }

              // stop form submission
              return false;
          } else if (parseInt(start) >= parseInt(end) || start < 0 || end < 0 || guess_claster < 0 || guess_claster > 100 || start > 30 || end > 30) {
              // show error message to user
              const modal = document.getElementById('modal');
              modal.style.display = 'block';
              const errorMessage = document.getElementById('error-message');
              errorMessage.innerHTML = 'Невірний формат даних.<br>Переконайтеся, що всі поля введено згідно з допустимими обмеженнями і спробуйте ще раз.';
              const closeBtn = document.getElementById('close-btn');
              closeBtn.style.backgroundColor = '#E42D2D';
              closeBtn.style.color = 'white';
              closeBtn.onclick = function () {
                  modal.style.display = 'none';
              }

              // stop form submission
              return false;
          } else {
              // allow form submission
              document.querySelector('#my-form').submit();
          }
      }

      /*      document.getElementById("start").addEventListener('change', function () {
                let start = document.getElementById("start");
                let finish = document.getElementById("end")

                finish.min = +start.value;
            });*/

  </script>


  <section class="section-input-data">
    <div class="tittle-box">
      <div class="gray-box">
        <div class="container">
          <div class="section-title" style="color: white">
            <b>Арени</b>
            <div style="padding: 10px">
              <%= image_tag 'hand_lamp_1.png', alt: 'Book one input data', width: 55, height: 50, class: 'icon' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="content-box" style="text-align: center; font-family: 'Times New Roman',serif; font-size: 30px;">
    <div class="features-block">
      <div class="image_areas">
    <span>
        <picture style="margin-bottom: 10px; margin-top: 10px;">
          <%= image_tag 'triangle.png' %>
        </picture>
          <b>Трикутна арена</b>
        </span>
        <span>
        <picture style="margin-bottom: 10px; margin-top: 10px;">
          <%= image_tag 'square.png' %>
        </picture>
        <b>Прямокутна арена</b>
        </span>
        <span>
        <picture style="margin-bottom: 10px; margin-top: 10px;">
          <%= image_tag 'circle.png' %>
        </picture>
        <b>Кругла арена</b>
        </span>
      </div>
    </div>

    <div style="text-align: center">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="flex: 1;">
          <picture style="margin-bottom: 10px; margin-top: 10px;">
            <%= image_tag 'bot_picture.png', width: 150, height: 150, style: "transform: scaleX(-1)" %>
          </picture>
        </div>
        <div style="flex: 1;">
          <picture>
            <%= image_tag 'labyrinth.png', width: 300, height: 300 %>
          </picture>
          <p><b>Лабіринт</b></p>
        </div>
        <div style="flex: 1;">
          <picture>
            <%= image_tag 'bot_picture.png', width: 150, height: 150 %>
          </picture>
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->

  <section class="section-input-data">
    <div class="tittle-box">
      <div class="section-title" style="color: white;">
        <b>Моделювання
          результатів</b>
        <div style="padding: 10px">
          <%= image_tag 'graph.png', alt: 'Book one input data', width: 55, height: 50, class: 'icon' %>
        </div>
      </div>
    </div>
  </section>

  <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

  <div class="sub-title-box" style="text-align: center; font-family: 'Times New Roman',serif; font-size: 30px;">
    <b>Кластеризація ботів в системі</b>
    <span class="icon-container">
                <i class="fas fa-question-circle"></i>
          <span class="tooltip" style="width: 150px; height: 135px;">Значення кластеризації розраховувалося на основі найбільшого зафіксованого кластеру</span>
          </span>
  </div>

  <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

  <div class="chart-box">
    <%= column_chart [
                       {
                         name: "Кількість ботів у кластері (трикутна арена)", type: 'column', data: @cluster_triangle
                       },
                       {
                         name: "Кількість ботів у кластері (прямокутна арена)", type: 'column', data: @cluster_square
                       },
                       {
                         name: "Кількість ботів у кластері (кругла арена)", type: 'column', data: @cluster_circle
                       },
                       {
                         name: "Кількість ботів у кластері (лабіринт)", type: 'column', data: @cluster_maze
                       }
                     ],
                     title: "Кластеризація ботів",
                     colors: ['green', 'blue', 'purple', 'orange'],
                     xtitle: "Час",
                     ytitle: "Боти",
                     download: { background: "#ffffff" },
                     library: { title: { fontSize: 40 }, legend: { fontSize: 40 } }
    %>
  </div>

  <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

  <div class="sub-title-box" style="text-align: center; font-family: 'Times New Roman',serif; font-size: 30px;">
    <b>Результати дослідження лабіринту</b>
  </div>

  <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

  <!-- background: rgba(92, 214, 92, 0.5) -->
  <div class="chart-box">
    <%= column_chart [
                       {
                         name: "Кількість ботів, що вийшла з лабіринту (перше спостереження)", type: 'column', data: @maze_exit_bots.dig(:first_observation)
                       },
                       {
                         name: "Кількість ботів, що вийшла з лабіринту (друге спостереження)", type: 'column', data: @maze_exit_bots.dig(:second_observation)
                       },
                       {
                         name: "Кількість ботів, що вийшла з лабіринту (третє спостереження)", type: 'column', data: @maze_exit_bots.dig(:third_observation)
                       }
                     ],
                     title: "Спостереження за виходом ботів з лабіринту",
                     colors: ['blue', 'green', 'orange'],
                     xtitle: "Час",
                     ytitle: "Боти",
                     download: { background: "#ffffff" }
    %>
  </div>

  <div class="content-box text-center" style="padding: 10px">
    <button id="toggle-btn" class="my-button yellow-button" style="font-family: 'Times New Roman',serif; font-size: 20px">Показати
      усереднені дані для всіх систем
    </button>
  </div>

  <div class="head-box" id="chart-box" style="display: none">

    <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

    <div class="sub-title-box" style="text-align: center; font-family: 'Times New Roman',serif; font-size: 30px;">
      <b>Середнє значення всіх спостережень виходів ботів з лабіринту для всіх варіацій систем</b>
    </div>

    <hr style="height: 1px; padding: 3px; background: rgba(92, 214, 92, 0.5)">

    <div class="chart-box">
      <%= column_chart [
                         {
                           name: "Система з 5-ох ботів", type: 'column', data: @visual_all_system_maze.dig(:five_bots)
                         },
                         {
                           name: "Система з 7-ох ботів", type: 'column', data: @visual_all_system_maze.dig(:seven_bots)
                         },
                         {
                           name: "Система з 9-ох ботів", type: 'column', data: @visual_all_system_maze.dig(:nine_bots)
                         },
                         {
                           name: "Система з 12-ох ботів", type: 'column', data: @visual_all_system_maze.dig(:twelve_bots)
                         },
                         {
                           name: "Система з 15-ох ботів", type: 'column', data: @visual_all_system_maze.dig(:fifteen_bots)
                         }
                       ],
                       title: "Загальний графік результатів виходу ботів з лабіринту у відсоткому співвідношенні",
                       colors: ['blue', 'green', 'orange', 'red', 'purple'],
                       xtitle: "Час",
                       ytitle: "Відсотки",
                       download: { background: "#ffffff" }
      %>
    </div>
  </div>

  <script>
      let chartBox = document.getElementById("chart-box");
      let toggleBtn = document.getElementById("toggle-btn");

      toggleBtn.addEventListener("click", function () {
          if (chartBox.style.display === "none") {
              chartBox.style.display = "block";
          } else {
              chartBox.style.display = "none";
          }
      });
  </script>

  <hr>

  <button id="back-to-top">Button up</button>

  <script>
      let backToTopButton = document.querySelector("#back-to-top");
      let scrollButton = document.createElement("div");
      scrollButton.setAttribute("id", "scroll-to-top");
      scrollButton.innerHTML = '<%= image_tag "arrow_up_mod.png", width: "100", height: "100" %>';
      document.body.appendChild(scrollButton);

      let scrollPositionToShowButton = 1300;

      window.addEventListener('scroll', function () {
          let scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
          let windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

          if (scrollPosition > scrollPositionToShowButton) {
              document.getElementById('scroll-to-top').classList.add('show');
          } else {
              document.getElementById('scroll-to-top').classList.remove('show');
          }
      });

      backToTopButton.addEventListener("click", function () {
          window.scrollTo({
              top: 0,
              behavior: "smooth"
          });
      });

      scrollButton.addEventListener("click", function () {
          window.scrollTo({
              top: 0,
              behavior: "smooth"
          });
      });
  </script>
</div>
