<link rel="stylesheet" href="application.css">
<p style="color: green"><%= notice %></p>

<div style="font-family: 'Times New Roman',serif; font-size: 20px">
  <h1>Вхідні
    дані <%= image_tag 'book_one_input_data.png', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
  </h1>

  <hr>

  <div style="text-align: center;">
    <%= form_for :active, url: actives_path do |form| %>
      <div class="alert alert-info">
        Початок часового проміжку:
        <%= form.number_field :start, in: 0..60, step: 1, :class => "form_control form-control-md", :id => "start" %>
        Завершення часового проміжку:
        <%= form.number_field :end, in: 0..60, step: 1, :class => "form_control form-control-md", :id => "end" %>
        <br><br>
        Кількість ботів:
        <%= form.number_field :number_bots, in: 1..30, step: 1, :class => "form_control form-control-md" %>
        Ймовірний користувацький рівень кластеризації:
        <%= form.number_field :guess_claster, in: 0..100, step: 1, :class => "form_control form-control-md" %><br><br>

        <%= form.submit "Зберегти", :class => "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <hr>

  <h1>Арени <%= image_tag 'areas.png', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
  </h1>

  <hr>

  <!-- <div style="background: #616BC1"> -->
  <div class="features-block">
    <div class="image">
    <span>
        <picture>
          <%= image_tag 'triangle.png', style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
        </picture>
        <p>Трикутна арена</p>
        </span>
      <span>
        <picture>
          <%= image_tag 'square.png', style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
        </picture>
        <p>Прямокутна арена</p>
        </span>
      <span>
        <picture>
          <%= image_tag 'circle.png', style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
        </picture>
        <p>Кругла арена</p>
        </span>
    </div>
  </div>

  <div style="text-align: center; width: 1920px">
    <picture>
      <%= image_tag 'labyrinth.png', width: 80, height: 80, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %>
    </picture>
    <p>Лабіринт</p>
  </div>
  <!-- </div> -->

  <hr>

  <h1>Моделювання
    результатів <%= image_tag 'ascil.png', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></h1>

  <hr>

  <h4 style="text-align: center">Кластеризація ботів в системі</h4>

  <hr>
  <div class="alert alert-success">
    <%= column_chart [
                       {
                         name: "Кількість ботів у кластері (трикутна арена)", type: 'column', data: @cluster_triangle
                       },
                       {
                         name: "Кількість ботів у кластері (прямокутна арена)", type: 'column', data: @cluster_square
                       },
                       {
                         name: "Кількість ботів у кластері (кругла арена)", type: 'column', data: @cluster_circle
                       }
                     ],
                     title: "Кластеризація ботів",
                     colors: ['green', 'blue', 'purple'],
                     xtitle: "Час",
                     ytitle: "Боти",
                     download: { background: "#ffffff" }
    %>
  </div>

  <h4 style="text-align: center">Результати дослідження лабіринту</h4>

  <hr>
  <div class="alert alert-success">
    <%= column_chart [
                       {
                         name: "Кількість ботів у кластері (трикутна арена)", type: 'column', data: @cluster_triangle
                       },
                       {
                         name: "Кількість ботів у кластері (прямокутна арена)", type: 'column', data: @cluster_square
                       },
                       {
                         name: "Кількість ботів у кластері (кругла арена)", type: 'column', data: @cluster_circle
                       }
                     ],
                     title: "Результат лабіринту",
                     colors: ['green', 'blue', 'purple'],
                     xtitle: "Час",
                     ytitle: "Боти",
                     download: { background: "#ffffff" }
    %>
  </div>

  <hr>

  <h1>Числові
    характеристики <%= image_tag 'comp_meteor.png', width: 50, height: 50, style: "vertical-align:middle; -aw-left-pos:0pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:0pt; -aw-wrap-type:inline" %></h1>

  <hr>
  <div style="background: #DDDDF5">
    <div style="text-align: center;">
      <table border="1" cellpadding="6" cellspacing="0" align="center">
        <tr>
          <td>&nbsp;</td>
          <td style="background: #008000"></td>
          <td style="background: #0000FF"></td>
          <td style="background: #800080"></td>
        </tr>
        <tr>
          <td><b>Фактичний коефіцієнт кластеризації кожної арени</b></td>
          <td><%= @real_cluster_triangle %> %</td>
          <td><%= @real_cluster_square %> %</td>
          <td><%= @real_cluster_circle %> %</td>
        </tr>
        <tr>
          <td><b>Середня кластеризація</b></td>
          <td colspan="3"><%= @real_cluster_middle %> %</td>
        </tr>
        <tr>
          <td><b>Користувацький коефіцієнт кластеризації</b></td>
          <td colspan="3"><%= @user_cluster %> %</td>
        </tr>
      </table>
    </div>
  </div>
  <hr>

</div>


<!--<div id="reciprocals">
  <%# @reciprocals.each do |reciprocal| %>
<%#= render reciprocal %>
    <p>
      <%#= link_to "Show this reciprocal", reciprocal %>
    </p>
  <%# end %>
</div>-->


<%#= link_to "New reciprocal", new_reciprocal_path %>


<script>
    document.getElementById("start").addEventListener('change', function () {
        let start = document.getElementById("start");
        let finish = document.getElementById("end")

        finish.min = +start.value;
    });
</script>

