<!DOCTYPE html>
<link rel="stylesheet" href="application.css">

<p style="color: green"><%= notice %></p>
<div style="text-align: center">
  <div style="text-align: center; font-family: 'Times New Roman',serif; font-size: 20px">
    <div class="tittle-box">
      <div class="container">
        <div class="section-title" style="color: white">
          <b>Роз’яснення функціонального блоку «Вхідні дані»</b>
          <div style="padding: 10px">
            <%= image_tag 'info.png', alt: 'info', width: 55, height: 50, class: 'icon' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <!--      <b style="font-size: 30px;"> Блок «Вхідні дані» складається з 4 параметрів, про які детальніше наведено у
              відповідній таблиці нижче.</b>-->

      <div style="padding: 10px;">
        <table style="width: 70%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center; background: white;">
          <thead>

          <tr style="background: #F5F5F5;">
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;"><b>
              Назва
              параметру</b>
            </td>
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">
              <b>Роз’яснення</b>
            </td>
          </tr>

          </thead>

          <tr>
            <td><b>Початок часового проміжку</b>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Цей параметр визначається в діапазоні<b> від 0 до 30 секунд</b>.<br>
                Такий спектр значень було обрано через те, що всі експерименти, на яких ґрунтується дослідження,
                обмежувалися саме такими граничними значеннями часу проведення. </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <b>Завершення часового проміжку</b>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Цей параметр, як і попередній, визначається в діапазоні<b> від 0 до 30 секунд</b>.<br>
                З визначенням спектру значень можна ознайомитися в роз’ясненні для першого параметру. </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <b>Кількість ботів</b>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Цей параметр, при взаємодій з полем введення, визначається у випадаючому списку<b> значення
                варіюються від 5 ботів до 15 ботів</b>.<br>
                Можна обрати 5, 7, 9, 12 або 15 ботів, через те, що саме на такій кількості створених ботів і
                проводилися експерименти, на основі яких і будуються всі відповідні графічні та числові предсталення.
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <b>Очікуваний користувацький рівень кластеризації</b>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Цей параметр визначається в діапазоні<b> від 0 до 100 відсотків</b>.<br>
                Одразу варто зауважити, що цей параметр <b>не впливає</b> прямо на результати обчислень. <br>Цей
                параметр для
                взаємодія з користувачем, яка дає змогу зробити користувацьку оцінку середньму рівню кластеризації
                систем, які розглядаються в дослідженні.
              </dfn>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tittle-box">
      <div class="container">
        <div class="section-title" style="color: white">
          <b>Повідомлення про помилки у функціональному блоці «Вхідні дані»</b>
          <div style="padding: 10px">
            <%= image_tag 'info.png', alt: 'info', width: 55, height: 50, class: 'icon' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="padding: 10px;">
        <table style="width: 70%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center; background: white;">
          <thead>

          <tr class="col-md-4" style="background: #F5F5F5;">
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;"><b>
              Повідомлення про помилку</b>
            </td>
            <td class="col-md-8" style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">
              <b>Роз’яснення</b>
            </td>
          </tr>

          </thead>

          <tr>
            <td><%= image_tag 'msg_error_1.png', alt: 'info', width: 600, height: 170, class: 'icon' %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Це подомлення може свідчити про <b>ряд характерних помилок</b>:<br>
                <li>
                  Таке повідомлення може виникати у випадку, коли введені вхідні дані вийшли за допустимі діапазони;
                </li>
                <li>
                  Таке повідомлення також може свідчити про конфлік між значеннями <b>«початку часового проміжку»</b> та
                  <b>«кінцем часового проміжку»</b>. <br> Під конфліктом мається на увазі неможливий часовий проміжок
                  (коли
                  фінальне значення перевищує початкове).
                </li>
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'msg_error_2.png', alt: 'info', width: 600, height: 170, class: 'icon' %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Це подомлення може свідчити про те, що одне або декілька полів введення значень параметрів
                залишилося(-ися) попрожнім(-и). </dfn>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tittle-box">
      <div class="container">
        <div class="section-title" style="color: white">
          <b>Роз’яснення функціонального блоку «Моделювання результатів»</b>
          <div style="padding: 10px">
            <%= image_tag 'info.png', alt: 'info', width: 55, height: 50, class: 'icon' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="padding: 10px;">
        <table style="width: 70%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center; background: white;">
          <thead>

          <tr class="col-md-6" style="background: #F5F5F5;">
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;"><b>
              Функція</b>
            </td>
            <td class="col-md-6" style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">
              <b>Роз’яснення</b>
            </td>
          </tr>

          </thead>

          <tr>
            <td>
              <%= image_tag 'modeling_one.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'modeling_two.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Це демонстрація функції наведених графіків у застосунку, яка дає змогу проглядати конкретні набори
                даних на графіках (від візуалізації всіх даних до окремого, в цьому випадку, гістограмного
                представлення).
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'modeling_three.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Варто звертати увагу на підказки, які представлені у застосунку спеціальною піктограмою
                «<span class="icon-container">
                    <i class="fas fa-question-circle"></i>
                  <span class="tooltip" style="height: 50px; width: 170px;">Привіт, я підказка!</span>
                  </span>».
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'modeling_five.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Навівши курсор на окремий гістограмний стовпець, можна побачити характерну інформацію про обраний
                відрізок даних.
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'modeling_four.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Натиснувши на кнопку <b>«Показати усереднені дані для всіх систем»</b> можна побачити додатковий
                графік з
                усіма усередниними показниками у визначеному часовому діапазоні для лабіринтової арени.
              </dfn>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tittle-box">
      <div class="container">
        <div class="section-title" style="color: white">
          <b>Роз’яснення функціонального блоку «Числові характеристики кластеризації системи»</b>
          <div style="padding: 10px">
            <%= image_tag 'info.png', alt: 'info', width: 55, height: 50, class: 'icon' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="padding: 10px;">
        <table style="width: 70%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center; background: white;">
          <thead>

          <tr class="col-md-4" style="background: #F5F5F5;">
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;"><b>
              Таблиця</b>
            </td>
            <td class="col-md-8" style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">
              <b>Роз’яснення</b>
            </td>
          </tr>

          </thead>

          <tr>
            <td>
              <%= image_tag 'num_res_one.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'num_res_two.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'num_res_three.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'num_res_five.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> У цій таблиці наведено показники кластеризації для всіх розглянутих арен у цьому дослідженні.<br>Також
                підраховується середній показник кластеризації, який порівнюється з користувацьким показником. Саме це
                порівняння і дає характерне забарвлення поля показнику користувацької кластеризації:
                <li>
                  Червоний колір — відхилення від фактичного показника середньої кластеризації більше ніж 50%;
                </li>
                <li>
                  Жовтий колір — відхилення від фактичного показника середньої кластеризації більше ніж 30%, але менше
                  ніж 50%;
                </li>
                <li>
                  Зелений колір — відхилення від фактичного показника середньої кластеризації менше ніж 30%.
                </li>
                <br>Також треба не забувати користуватися підказками, які зберігають додаткову інформацію про дані, які
                демоструються та підраховуються у таблицях.

              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'error_bar_1.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Графік з полосою похибки дозволяє проаналізувати одразу всі системи ботів (5, 7, 9, 12 та 15) та порівняти їх з поточною обраною системою.<br><br>
                Середини відрізків — це усереднене значення кластеризації, а довжина відрізку визначається значенням середнього квадратичного відхилення.
              </dfn>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tittle-box">
      <div class="container">
        <div class="section-title" style="color: white">
          <b>Роз’яснення функціонального блоку «Числові характеристики дослідження лабіринту»</b>
          <div style="padding: 10px">
            <%= image_tag 'info.png', alt: 'info', width: 55, height: 50, class: 'icon' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box">
      <div style="padding: 10px;">
        <table style="width: 70%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center; background: white;">
          <thead>

          <tr class="col-md-4" style="background: #F5F5F5;">
            <td style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;"><b>
              Таблиця</b>
            </td>
            <td class="col-md-8" style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">
              <b>Роз’яснення</b>
            </td>
          </tr>

          </thead>

          <tr>
            <td>
              <%= image_tag 'num_res_four.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'num_res_six.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> У цій таблиці наведено показники часу виходу першого боту або ботів з лабіринту. Ці дані можна
                відслідкувати за гістограмними представленнями, але вони наведені і в числовому вигляді. Це зроблено для
                того, щоб більш наочніше можно було ці дані аналізувати і фіксувати як було отримане середнє значення
                часу виходу першого боту або ботів.
                <br><br>
                У підказці для всіх таблиць блоку дослідження лабіринту наводиться проміжок часу, який було задано
                користувачем у початковій формі блоку «Вхідні дані».
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'num_res_seven.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> У цій таблиці наведено показники середнього часу виходу ботів для кожного спостереження окремо, що
                було вирахувано за наступною
                формулою:<br>
                <div style="justify-content: center; align-items: center; display: flex;">
                  <%= image_tag 'formula_one.png', alt: 'info', width: 200, height: 100, class: 'icon', style: "padding: 10px;" %>
                  ,
                  <br>
                </div>
                де n &le; N — кількість ботів, які вийшли з лабіринту;<br>
                <div style="margin-left: 32px">
                  t<sub>i</sub> — cекунда виходу i-го бота з лабіринту;<br>
                  N — кількість ботів у лабіринті.<br>
                </div>
                Знаючи ці дані, можна прорахувати середній час виходу ботів з лабіринту на основі всіх спостережень:<br>
                <div style="justify-content: center; align-items: center; display: flex;">
                  <%= image_tag 'formula_two.png', alt: 'info', width: 200, height: 100, class: 'icon', style: "padding: 10px" %>
                  ,
                  <br>
                </div>
                де N<sub>e</sub> — кількість експериментів;<br>
                <div style="margin-left: 32px">
                  <%= image_tag 'argument_one.png', alt: 'info', width: 50, height: 30, class: 'icon' %> — середня
                  секунда виходу ботів у а-ому експерименті.<br>
                </div>
                Відхилення від середнього значення було обчислено за простою формулою:<br>
                <div style="justify-content: center; align-items: center; display: flex;">
                  <%= image_tag 'formula_three.png', alt: 'info', width: 200, height: 50, class: 'icon', style: "padding: 10px" %>
                  <br>
                </div>
                Останнім параметром є середнє квадратичне відхилення, яке було розраховано наступним чином:<br>
                <div style="justify-content: center; align-items: center; display: flex;">
                  <%= image_tag 'formula_four.png', alt: 'info', width: 200, height: 100, class: 'icon', style: "padding: 10px" %>
                  <br>
                </div>
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'num_res_eight.png', alt: 'info', width: 800, height: 300, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> У цій таблиці наведено показники середнього часу перебування ботів у лабіринті.<br>
                Всі формули, які були наведені у попередньому блоці, збігаються з цим блоком, окрім формули прорахунку
                значення для кожного спостереження окремо:
                <div style="justify-content: center; align-items: center; display: flex;">
                  <%= image_tag 'formula_one_stay.png', alt: 'info', width: 200, height: 100, class: 'icon', style: "padding: 10px;" %>
                  ,
                  <br>
                </div>
                де N — загальна кількіть ботів в лабіринті;<br>
                <div style="margin-left: 32px">
                  t<sub>i</sub> — час перебування ботів у лабіринті (якщо бот вийшов на 8 секунді, тоді він пробув у лабіринті 7 повних секунд).<br>
                </div>
              </dfn>
            </td>
          </tr>

          <tr>
            <td>
              <%= image_tag 'error_bar_2.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'error_bar_3.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'error_bar_4.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
              <%= image_tag 'error_bar_5.png', alt: 'info', width: 800, height: 170, class: 'icon', style: "padding: 10px" %>
            </td>
            <td style="text-align: justify; padding: 10px;">
              <dfn> Графік з полосою похибки дозволяє проаналізувати одразу всі системи ботів (5, 7, 9, 12 та 15) та порівняти їх з поточною обраною системою.<br><br>
                Середини відрізків — це усереднене значення характеристики, що розглядається, а довжина відрізку визначається значенням середнього квадратичного відхилення.
              </dfn>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <hr>

    <button id="back-to-top">Button up</button>

    <script>
        let backToTopButton = document.querySelector("#back-to-top");
        let scrollButton = document.createElement("div");
        scrollButton.setAttribute("id", "scroll-to-top");
        scrollButton.innerHTML = '<%= image_tag "arrow_up_mod.png", width: "150", height: "150" %>';
        document.body.appendChild(scrollButton);

        let scrollPositionToShowButton = 1500;

        window.addEventListener('scroll', function () {
            let scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            let windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

            if (scrollPosition > scrollPositionToShowButton) {
                document.getElementById('scroll-to-top').classList.add('show');
            } else {
                document.getElementById('scroll-to-top').classList.remove('show');
            }
        });

        backToTopButton.addEventListener("click", function () {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });

        scrollButton.addEventListener("click", function () {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>
  </div>
</div>
