<!DOCTYPE html>
<link rel="stylesheet" href="application.css">

<p style="color: green"><%= notice %></p>
<div style="font-family: 'Times New Roman',serif; font-size: 20px">
  <section class="section-input-data">
    <div class="tittle-box">
      <div class="section-title" style="color: white">
        <b>Числові характеристики кластеризації системи</b>
        <div style="padding: 10px">
          <%= image_tag 'small_clock.png', alt: 'Book one input data', width: 55, height: 50, class: 'icon' %>
        </div>
      </div>
    </div>
  </section>

  <div style="background: #ffffff">
    <table style="width: 100%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center">
      <thead>
      <tr style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 30px;">
        <!--<td style="padding: 50px; background: #ffffff">&nbsp;</td>-->
        <td style="padding: 10px;">
          <span class="icon-container">
                <i class="fas fa-question-circle"></i>
          <span class="tooltip" style="width: 150px; height: 215px;">Відсоткове значення кластеризації розраховувалося на основі найбільшого зафіксованого кластеру на заданому часовому проміжку (з <%= @active.start %>
            с. до <%= @active.end %> с.)<br>Обрана кількість ботів: <%= @active.number_bots %></span>
          </span>
        </td>
        <td style="text-align: center; "><b>Трикутна арена</b></td>
        <td style="text-align: center; "><b>Прямокутна арена</b></td>
        <td style="text-align: center; "><b>Кругла арена</b></td>
        <td style="text-align: center; "><b>Лабіринт</b></td>
      </tr>

      </thead>

      <tbody>
      <tr>
        <td style="padding: 10px;"><b>Відсоток максимальної кластеризації системи на кожній арені</b></td>
        <td style="padding: 10px; background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @real_cluster_triangle %>
          %
        </td>
        <td style="padding: 10px; background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @real_cluster_square %>
          %
        </td>
        <td style="padding: 10px; background: rgba(193, 74, 193, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @real_cluster_circle %>
          %
        </td>
        <td style="padding: 10px; background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @real_cluster_maze %>
          %
        </td>
      </tr>
      <tr>
        <td style="padding: 10px;"><b>Середня кластеризація</b></td>
        <td colspan="4" style="padding: 10px; background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @real_cluster_middle %>
          %
        </td>
      </tr>
      <tr>
        <td style="padding: 10px;"><b>Користувацький відсоток кластеризації</b></td>
        <% diff = (@real_cluster_middle - @active.guess_claster.to_f).abs %>
        <% color = if diff >= 50.0
                     "#FFABAF"
                   elsif diff >= 30.0
                     "#FFEBAF"
                   elsif diff >= 0.0
                     "#ADEAAD"
                   else
                     ""
                   end %>
        <td colspan="4" style="padding: 10px; background: <%= color %>; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @active.guess_claster.to_f %>
          %
        </td>
      </tr>

      <tr>
        <td><b>Відхилення від середнього значення</b></td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_clast[0] %>
        </td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_clast[1] %>
        </td>
        <td style="background: rgba(193, 74, 193, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_clast[2] %>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_clast[3] %>
        </td>
      </tr>

      <tr>
        <td><b>Середнє квадратичне відхилення</b></td>
        <td colspan="4" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @mean_square_deviation_clast.round(5) %>
        </td>
      </tr>

      <tr>
        <th colspan="5" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Графік
          з полосою похибки для всіх систем
        </th>
      </tr>

      <tr>
        <td colspan="5">
          <div class="chart-box">
            <%= line_chart [
                             {
                               name: "Система з 5-ох ботів", data: @chart_error_all_system_clast[0]
                             },
                             {
                               name: "Система з 7-ох ботів", data: @chart_error_all_system_clast[1]
                             },
                             {
                               name: "Система з 9-ох ботів", data: @chart_error_all_system_clast[2]
                             },
                             {
                               name: "Система з 12-ох ботів", data: @chart_error_all_system_clast[3]
                             },
                             {
                               name: "Система з 15-ох ботів", data: @chart_error_all_system_clast[4]
                             }
                           ],
                           title: "Графік з полосою похибки для серелнього відсотку кластеризації систем",
                           colors: ['blue', 'green', 'orange', 'red', 'purple'],
                           xtitle: "Боти",
                           ytitle: "Час виходу",
                           library: { hAxis: { textPosition: 'none' } },
                           download: { background: "#ffffff" }
            %>
          </div>
        </td>
      </tr>


      </tbody>
    </table>
  </div>

  <section class="section-input-data">
    <div class="tittle-box">
      <div class="section-title" style="color: white;">
        <b>Числові характеристики дослідження лабіринту</b>
        <div style="padding: 10px">
          <%= image_tag 'maze.png', alt: 'Book one input data', width: 55, height: 50, class: 'icon' %>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <div style=" background: #ffffff">
    <table style="width: 100%; border-collapse: collapse; font-family: 'Times New Roman',serif; font-size: 25px; text-align: center">
      <thead>

      <tr style="background: #F5F5F5;">
        <th colspan="4" style="text-align: center; padding: 50px; font-family: 'Times New Roman',serif; font-size: 30px;">Арена
          лабіринту
        </th>
      </tr>

      </thead>

      <tr>
        <td style="padding: 40px; background: #F5F5F5;">
          <!--&nbsp;-->
          <span class="icon-container">
            <i class="fas fa-question-circle"></i>
              <span class="tooltip" style="height: 70px; width: 175px;">Обраний часовий проміжок: з <%= @active.start %>
                с. до <%= @active.end %> с.<br>Обрана кількість ботів: <%= @active.number_bots %></span>
          </span>
        </td>
        <td style="background: rgba(91, 157, 231, 0.5); text-align: center;  font-family: 'Times New Roman',serif; font-size: 27px;">
          <b>Перше спостереження</b>
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); text-align: center; font-family: 'Times New Roman',serif; font-size: 27px;">
          <b>Друге спостереження</b>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); text-align: center;  font-family: 'Times New Roman',serif; font-size: 27px;">
          <b>Третє спостереження</b>
        </td>
      </tr>


      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Результати
          виходу першого боту з лабіринту
        </th>
      </tr>

      <!--<td><b>Час виходу першого(-их) боту(-ів) для проміжку ( з <%#= @active.start %> с. до <%#= @active.end %> с.)</b>-->

      <tr>
        <td><b>Час виходу першого(-их) боту(-ів)</b>
        </td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_maze_out_first[0] %>
          с.
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_maze_out_first[1] %>
          с.
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_maze_out_first[2] %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Середнє значення</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @average_time_maze_out_first %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Відхилення від середнього значення</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_first[0] %>
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_first[1] %>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_first[2] %>
        </td>
      </tr>

      <tr>
        <td><b>Середнє квадратичне відхилення</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @mean_square_deviation_first.round(5) %>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Графік
          з полосою похибки для всіх систем
        </th>
      </tr>

      <tr>
        <td colspan="4">
          <div class="chart-box">
            <%= line_chart [
                             {
                               name: "Система з 5-ох ботів", data: @chart_error_all_system_first.dig(:five_bots)
                             },
                             {
                               name: "Система з 7-ох ботів", data: @chart_error_all_system_first.dig(:seven_bots)
                             },
                             {
                               name: "Система з 9-ох ботів", data: @chart_error_all_system_first.dig(:nine_bots)
                             },
                             {
                               name: "Система з 12-ох ботів", data: @chart_error_all_system_first.dig(:twelve_bots)
                             },
                             {
                               name: "Система з 15-ох ботів", data: @chart_error_all_system_first.dig(:fifteen_bots)
                             }
                           ],
                           title: "Графік з полосою похибки для часу виходу першого боту з лабіринту",
                           colors: ['blue', 'green', 'orange', 'red', 'purple'],
                           xtitle: "Боти",
                           ytitle: "Час виходу",
                           download: { background: "#ffffff" }
            %>
          </div>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Результати
          середньої кількості ботів, що вийшли
        </th>
      </tr>

      <tr>
        <td><b>Середній відсоток кількість ботів, що вийшли</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_all_obs_count[0] %>
          %
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_all_obs_count[1] %>
          %
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_all_obs_count[2] %>
          %
        </td>
      </tr>

      <tr>
        <td><b>Середнє значення відсотку ботів, що вийшли</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @average_result_observ_count %>
          %
        </td>
      </tr>

      <tr>
        <td><b>Відхилення від середнього значення</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_count[0] %>
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_count[1] %>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_count[2] %>
        </td>
      </tr>

      <tr>
        <td><b>Середнє квадратичне відхилення</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @mean_square_deviation_count.round(5) %>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Графік
          з полосою похибки для всіх систем
        </th>
      </tr>

      <tr>
        <td colspan="4">
          <div class="chart-box">
            <%= line_chart [
                             {
                               name: "Система з 5-ох ботів", data: @chart_error_all_system_count.dig(:five_bots)
                             },
                             {
                               name: "Система з 7-ох ботів", data: @chart_error_all_system_count.dig(:seven_bots)
                             },
                             {
                               name: "Система з 9-ох ботів", data: @chart_error_all_system_count.dig(:nine_bots)
                             },
                             {
                               name: "Система з 12-ох ботів", data: @chart_error_all_system_count.dig(:twelve_bots)
                             },
                             {
                               name: "Система з 15-ох ботів", data: @chart_error_all_system_count.dig(:fifteen_bots)
                             }
                           ],
                           title: "Графік з полосою похибки для середньої кількості ботів, що вийшли з лабіринту",
                           colors: ['blue', 'green', 'orange', 'red', 'purple'],
                           xtitle: "Боти",
                           ytitle: "Час виходу",
                           download: { background: "#ffffff" }
            %>
          </div>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Результати
          середнього часу виходу ботів з лабіринту
        </th>
      </tr>

      <tr>
        <td><b>Середній час виходу ботів з лабіринту</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_out_time[0].round(5) %>
          с.
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_out_time[1].round(5) %>
          с.
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_out_time[2].round(5) %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Середній час виходу ботів з лабіринту на основі всіх спостережень</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @average_result_observ_exit.round(5) %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Відхилення від середнього значення</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_exit[0] %>
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_exit[1] %>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_exit[2] %>
        </td>
      </tr>

      <tr>
        <td><b>Середнє квадратичне відхилення</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @mean_square_deviation_exit.round(5) %>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Графік
          з полосою похибки для всіх систем
        </th>
      </tr>

      <tr>
        <td colspan="4">
          <div class="chart-box">
            <%= line_chart [
                             {
                               name: "Система з 5-ох ботів", data: @chart_error_all_system_exit.dig(:five_bots)
                             },
                             {
                               name: "Система з 7-ох ботів", data: @chart_error_all_system_exit.dig(:seven_bots)
                             },
                             {
                               name: "Система з 9-ох ботів", data: @chart_error_all_system_exit.dig(:nine_bots)
                             },
                             {
                               name: "Система з 12-ох ботів", data: @chart_error_all_system_exit.dig(:twelve_bots)
                             },
                             {
                               name: "Система з 15-ох ботів", data: @chart_error_all_system_exit.dig(:fifteen_bots)
                             }
                           ],
                           title: "Графік з полосою похибки для середнього часу виходу ботів з лабіринту",
                           colors: ['blue', 'green', 'orange', 'red', 'purple'],
                           xtitle: "Боти",
                           ytitle: "Час виходу",
                           download: { background: "#ffffff" }
            %>
          </div>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Результати
          середнього часу перебування в лабіринті
        </th>
      </tr>

      <tr>
        <td><b>Середній час перебування ботів в лабіринті</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_stay_time[0].round(5) %>
          с.
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_stay_time[1].round(5) %>
          с.
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @observation_bots_stay_time[2].round(5) %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Середній час перебування ботів в лабіринті на основі всіх спостережень</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @average_result_observ_stay.round(5) %>
          с.
        </td>
      </tr>

      <tr>
        <td><b>Відхилення від середнього значення</b></td>
        <td style="background: rgba(91, 157, 231, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_stay[0] %>
        </td>
        <td style="background: rgba(92, 214, 92, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_stay[1] %>
        </td>
        <td style="background: rgba(255, 165, 0, 0.5); font-family: 'Times New Roman',serif; font-size: 25px;"><%= @result_deviation_stay[2] %>
        </td>
      </tr>

      <tr>
        <td><b>Середнє квадратичне відхилення</b></td>
        <td colspan="3" style="background: #F5F5F5; font-family: 'Times New Roman',serif; font-size: 25px;"><%= @mean_square_deviation_stay.round(5) %>
        </td>
      </tr>

      <tr>
        <th colspan="4" style="text-align: center; padding: 40px; font-family: 'Times New Roman',serif; font-size: 27px;">Графік
          з полосою похибки для всіх систем
        </th>
      </tr>

      <tr>
        <td colspan="4">
          <div class="chart-box">
            <%= line_chart [
                             {
                               name: "Система з 5-ох ботів", data: @chart_error_all_system_stay.dig(:five_bots)
                             },
                             {
                               name: "Система з 7-ох ботів", data: @chart_error_all_system_stay.dig(:seven_bots)
                             },
                             {
                               name: "Система з 9-ох ботів", data: @chart_error_all_system_stay.dig(:nine_bots)
                             },
                             {
                               name: "Система з 12-ох ботів", data: @chart_error_all_system_stay.dig(:twelve_bots)
                             },
                             {
                               name: "Система з 15-ох ботів", data: @chart_error_all_system_stay.dig(:fifteen_bots)
                             }
                           ],
                           title: "Графік з полосою похибки для середнього часу перебування ботів у лабіринті",
                           colors: ['blue', 'green', 'orange', 'red', 'purple'],
                           xtitle: "Боти",
                           ytitle: "Час виходу",
                           download: { background: "#ffffff" }
            %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <button id="back-to-top">Button up</button>

  <script>
      let backToTopButton = document.querySelector("#back-to-top");
      let scrollButton = document.createElement("div");
      scrollButton.setAttribute("id", "scroll-to-top");
      scrollButton.innerHTML = '<%= image_tag "arrow_up_mod.png", width: "100", height: "100" %>';
      document.body.appendChild(scrollButton);

      let scrollPositionToShowButton = 1500;

      window.addEventListener('scroll', function () {
          let scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
          let windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

          if (scrollPosition > scrollPositionToShowButton) {
              document.getElementById('scroll-to-top').classList.add('show');
          } else {
              document.getElementById('scroll-to-top').classList.remove('show');
          }
      });

      backToTopButton.addEventListener("click", function () {
          window.scrollTo({
              top: 0,
              behavior: "smooth"
          });
      });

      scrollButton.addEventListener("click", function () {
          window.scrollTo({
              top: 0,
              behavior: "smooth"
          });
      });
  </script>
</div>
